/* styles that are shared across pages */

@font-face {
  font-family: 'WiiShop';
  src: url('/font/nintendo_NTLGDB_001.ttf') format('truetype');
}

body {
  font-family: 'WiiShop', sans-serif;
  background-image: url(/images/stars.gif);
  background-color:#030303;
  background-repeat: repeat-y;
  background-position: top center;
  background-size: contain;
  text-align: center;
  overflow-x:hidden; 
  min-height: 100vh;
}

h1, h2, h3, p, div {
  text-align: center;
}

/* NAVIGATION BAR STYLING */
ul.navbar {
  list-style-type: none;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(121, 201, 255);
  flex-wrap: wrap; 
}

ul.navbar li {
  margin: 0 10px;
}

ul.navbar li a {
  display: block;
  padding: 13px;
  text-decoration: none;
  color: white;
  text-align: center;
}

ul.navbar li a:hover {
  background-color: #6df8fd;
}

a {
  color: rgb(73, 158, 255);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(98, 139, 167);
}

a:visited {
  color: rgb(73, 158, 255);
}

a:active {
  color: rgb(146, 166, 231);
}

