/* styles that are shared across pages */

@font-face {
  font-family: 'WiiShop';
  src: url('/font/nintendo_NTLGDB_001.ttf') format('truetype');
}

body {
  font-family: 'WiiShop', sans-serif;
  background-image: url(/images/stars.gif);
  background-color:#030303;
  background-repeat: repeat-y;
  background-position: top center;
  background-size: contain;
  text-align: center;
  overflow-x:hidden; 
  min-height: 100vh;
}

h1, h2, h3, p, div {
  text-align: center;
}

/* stupid navigation bar styling :gr: */
.navbar {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 20px;               
  list-style: none;         
  padding: 0;
  margin: 20px 0;
  flex-wrap: wrap;          
  overflow-x: auto;        
  white-space: nowrap;
}

.navbar li a {
  text-decoration: none;
  color: #3399ff; 
  font-size: 1.2em;
  font-family: 'WiiShop', sans-serif; 
}

.navbar li a:hover {
  text-decoration: underline;
}


a {
  color: rgb(73, 158, 255);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(98, 139, 167);
}

a:visited {
  color: rgb(73, 158, 255);
}

a:active {
  color: rgb(146, 166, 231);
}

