/* index.html */

img {
  display: block;
  margin: 10px auto;
}

.console-imgs {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.console-imgs img {
  max-width: 100%;
  width: 96px;
  height: 150px;
}

div.content-box {
  width: 100%;
  max-width:100%;
  background-color: #6df8fd;
  padding: 1rem;
}

table, th, td {
  border: 1px solid greenyellow;
  border-collapse: collapse;
  margin: auto;
}

th, td {
  background-color: rgba(4, 78, 4, 0.938);
  padding: 8px;
}

tr:hover {
  background-color: rgb(135, 255, 205);
}

/* index.html */

